.eer{
   
    border: 5px solid black;
    margin-left: 250px;
    height: 140vh;
    width: 1000px;
    background-image: url("D:\gardeningstore\src\img\About page.webp");
    background-repeat: no-repeat;
    
}
.rre{
    background-color: green;
}